%table
  %tr
    %td
      %b
        Asignee:
    %td
      &=@error.assignee
      %a(href="#{error_path(@error)}/assign" data-icon="gear" data-rel="dialog")
        change...
  %tr
    %td
      %b
        Message:
    %td
      &=@error.message
  %tr
    %td
      %b
        Times:
    %td
      &=@error.times
  %tr
    %td
      %b
        URL:
    %td
      %a(href="#{@error.url}")
        &=@error.url
  %tr
    %td
      %b
        Params:
    %td
      &=@error.params.inspect

  -if @error.action
    %tr
      %td
        %b
          Action:
      %td
        &=@error.action

  -if @error.controller
    %tr
      %td
        %b
          Controller:
      %td
        &=@error.controller

  %tr
    %td
      %b
        File:
    %td
      &=@error.file
  %tr
    %td
      %b
        Line:
    %td
      &=@error.line

  %tr
    %td
      %b
        Method:
    %td
      &=@error.method

  %tr
    %td
      %b
        Content:
    %td
      &=@error.line_content
  %tr
    %td
      %b
        Created At:
    %td
      &=@error.created_at
  %tr
    %td
      %b
        Updated At:
    %td
      &=@error.updated_at